:root {
  --mainColor: #eaeaea;
  --secoundaryColor: #fff;

  --borderColor: #c1c1c1;

  --mainText: black;
  --secoundaryText: #4b5156;

  --themeDotBorder: #fff;

  --previewBg: rgb(251, 249, 243, 0.8);
  --previewShadow: #f0ead6;

  --buttonColor: black;

  --anchorColor: #006699;
}
html,
body {
  padding: 0;
  margin: 0;
}

body * {
  transition: 0.8s;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--mainText);
  font-family: 'Bebas Neue', cursive;

  font-weight: 500;
}

p,
li,
span,
label,
input,
textarea {
  color: var(--mainText);
  font-family: 'Inconsolata', monospace;
}

a {
  text-decoration: none;
  color: var(--anchorColor);
}
ul {
  list-style: none;
}

h1 {
  font-size: 56px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}

.s1 {
  background-color: var(--mainColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
}

.s2 {
  background-color: var(--secoundaryColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
}

.main-container {
  width: 1000px;
  margin: 0 auto;
}

.greeding-wrapper {
  display: grid;
  text-align: center;
  align-content: center;
}
.intro-wrapper {
  background-color: var(--secoundaryColor);
  border: 1px solid var(--borderColor);
  border-radius: 5px 5px 0 0;

  -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.42);
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.42);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'nav-wrapper nav-wrapper'
    'left-column right-column';
}
.nav-wrapper {
  grid-area: nav-wrapper;
  border-bottom: 1px solid var(--borderColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--mainColor);
  border-radius: 5px 5px 0 0;
}
#choose-theme {
  align-items: center;
  padding-top: 1px;
  font-size: 13px;
}

#navigation a {
  color: var(--mainText);
}

#navigation {
  margin: 0;
  padding: 10px;
}
#navigation li {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}

.dots-wrapper {
  display: flex;
  padding: 10px;
}

#dot-1 {
  background-color: #fc6058;
}
#dot-2 {
  background-color: #fec058;
}
#dot-3 {
  background-color: #2aca3e;
}

/*
TODO: Change padding top left grid to get the dots closer to the sentense, try to create some kind of interaction
**/
.left-column {
  grid-area: left-column;
  padding-top: 50px;
  padding-bottom: 20px;
}

#profile_pic {
  display: block;
  margin: 0 auto;
  height: 200px;
  width: 200px;
  object-fit: cover;
  border: 3px solid var(--borderColor);
}

#theme-options-wrapper {
  display: flex;
  justify-content: center;
}

.light-theme-container {
  padding-top: 30px;
}

.theme-dot {
  background-color: black;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 5px;
  border: 1px solid var(--themeDotBorder);

  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);

  cursor: pointer;
}

.status-container {
  display: flex;
  flex-wrap: wrap;
}

.ml {
  margin-left: 10px;
}

.status-dot {
  background-color: #2aca3e;
  height: 10px;
  width: 10px;
  margin-top: 19px;
  border-radius: 50%;
  border: 1px solid black;
}

.theme-dot:hover {
  border-width: 2px;
}

#light-mode {
  background-color: #fff;
}

#green-mode {
  background-color: #2aca3e;
}

#red-mode {
  background-color: #fc6058;
}

#yellow-mode {
  background-color: #fec058;
}

#settings-note {
  font-size: 12px;
  font-style: italic;
  text-align: center;
}

.browser-dot {
  background-color: black;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 5px;

  -webkit-box-shadow: 2px 4px 4px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 4px 4px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 4px 4px -1px rgba(0, 0, 0, 0.75);
}

.right-column {
  grid-area: right-column;
  display: grid;
  align-content: center;

  padding-top: 50px;
  padding-bottom: 30px;
}

#radius-container {
  border-radius: 0px 200px 200px 0px;
  -moz-border-radius: 0px 200px 200px 0px;
  -webkit-border-radius: 0px 200px 200px 0px;

  border: 4px solid var(--previewShadow);
  background-color: var(--previewBg);
  margin: 5px 5px;
  padding-left: 5px;
  padding-right: 20px;

  -webkit-box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.48);
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.48);
}

#radius-container-1 {
  border-radius: 200px 0px 0px 200px;
  -moz-border-radius: 200px 0px 0px 200px;
  -webkit-border-radius: 200px 0px 0px 200px;

  border: 4px solid var(--previewShadow);
  background-color: var(--previewBg);
  margin: 5px 5px;
  padding-left: 20px;
  padding-right: 5px;
  padding-bottom: 10px;
  text-align: end;

  -webkit-box-shadow: -2px 2px 4px 2px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: -2px 2px 4px 2px rgba(0, 0, 0, 0.57);
  box-shadow: -2px 2px 4px 2px rgba(0, 0, 0, 0.57);
}

#preview-shadow {
  background-color: var(--previewShadow);
  width: 300px;
  height: 180px;
  padding-left: 30px;
  padding-top: 30px;
}

#preview {
  width: 300px;
  border: 1.5px solid #17a2b8;
  background-color: var(--previewBg);
  padding: 15px;
  position: relative;
}

.corner {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 1.5px solid #17a2b8;
  background-color: #fff;
  position: absolute;
}
#corner-tl {
  top: -5px;
  left: -5px;
}

#corner-tr {
  top: -5px;
  right: -5px;
}
#corner-br {
  bottom: -5px;
  right: -5px;
}
#corner-bl {
  bottom: -5px;
  left: -5px;
}

.about-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 50px;
}
#skills {
  display: flex;
  justify-content: space-evenly;
  margin: 0px 50px;
  background-color: var(--previewShadow);
}

.education-container {
  border-radius: 80px 80px 80px 80px;
  -moz-border-radius: 80px 80px 80px 80px;
  -webkit-border-radius: 80px 80px 80px 80px;
  border: 4px solid #000000;

  border: 4px solid var(--previewShadow);
  background-color: var(--previewBg);
  margin: 5px 10px;
  padding-left: 50px;
  padding-right: 5px;
  padding-bottom: 10px;
  text-align: start;

  -webkit-box-shadow: -2px 2px 4px 2px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: -2px 2px 4px 2px rgba(0, 0, 0, 0.57);
  box-shadow: -2px 2px 4px 2px rgba(0, 0, 0, 0.57);
}

#margin-b-t {
  margin-bottom: 5px;
  margin-top: 40px;
  color: var(--anchorColor);
}

/*
.social-links {
  display: grid;
  align-content: center;
  text-align: center;
}
**/

.post-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  gap: 20px;
  justify-content: center;
  padding-bottom: 50px;
}

.post {
  border: 1px solid var(--borderColor);
  -webkit-box-shadow: 2px 4px 4px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 4px 4px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 4px 4px -1px rgba(0, 0, 0, 0.75);
}

.thumbnail {
  display: block;
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.post-preview {
  background-color: #fff;
  padding: 15px;
}

.post-title {
  color: black;
  margin: 0;
}

.post-intro {
  color: #4b5156;
  font-size: 14px;
}

/* Contact Form  **/

#contact-form {
  display: block;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid var(--borderColor);
  padding: 15px;
  border-radius: 5px;
  background-color: var(--mainColor);
  margin-bottom: 50px;
}

#contact-form label {
  line-height: 2.7em;
}

.input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--secoundaryColor);
  border-radius: 5px;
  border: 1px solid var(--borderColor);
  font-size: 14px;
}

#submit-btn {
  margin-top: 10px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  background-color: var(--buttonColor);
  border: none;
}

/* 
FOOTER SECTION
**/

.footer-container {
  width: 1100px;
  margin: 0 auto;
}

.footer-wrapper {
  background-color: var(--secoundaryColor);
  border: 1px solid var(--borderColor);
  border-radius: 0px 0px 5px 5px;

  -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.42);
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.42);
}
.footer-nav-wrapper {
  border-bottom: 1px solid var(--borderColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--mainColor);
  border-radius: 5px 5px 0 0;
}

.margin-r {
  margin-right: 50px;
}

@media screen and (max-width: 1200px) {
  .main-container {
    width: 95%;
  }
  .footer-container {
    width: 95%;
  }
}

@media screen and (max-width: 800px) {
  .intro-wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      'nav-wrapper'
      'left-column'
      'right-column';
  }
  .right-column {
    justify-content: center;
  }
}
